body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: skyblue;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0 10px;
  font-size: 28px;
  color: #111;
}

canvas {
  border: 10px solid #0eef6c; /* green border around map */
  margin-top: 10px;
  background-color: #0eef6c; /* green background inside map */
  border-radius: 10px;
}

.info {
  background-color: #c8f7c5;
  padding: 10px 20px;
  width: fit-content;
  margin: 10px auto;
  border-radius: 8px;
  color: #132f13;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
